body{
    background-color: rgb(255, 169, 88);
    padding: 50px 0 0 0;
}
.img{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    padding: 50px 0 10px 0;
}
div{
    width: 500px;
    margin: 0 auto;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    
}
.container{
    
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10%;
    margin: 10px;
}
h1{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 150px ;
}